<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <label for="original">Original URL: </label>
            <input type="url" name="original" required placeholder="Enter Your Original Url"/>
            <button type="submit">Submit</button>
        </form>
        <div>
            {% if short_url %}
                <p>Short URL: <a href="{{ short_url }}">{{ short_url }}</a></p>
            {% endif %}
        </div>
        <div>
            <p><a href="http://127.0.0.1:5000/url-list/">Shortend Urls</a></p>
        </div>
        
    </div>
</body>
</html>